.navbar {
    background-color: #343a40; /* Dark gray background */
    padding: 5px 0;
}

.navbar .nav-link {
    color: #ffffff; /* White text for links */
    font-size: 1rem; /* Font size for links */
    transition: color 0.3s ease;
    text-decoration: none;
    margin: 0 120px;
}

.navbar .nav-link:hover {
    color: #adb5bd; /* Light gray hover effect */
}

.navbar .nav-link.active {
    font-weight: bold;
    color: #ffc107; /* Highlight active link with yellow */
}

.nav-item {
    list-style: none;
}
