/* Fade Animations */
@mixin fadeInDown($duration: 1s) {
    animation: fadeInDown $duration ease-out;
  }
  
  @mixin fadeInUp($duration: 1s) {
    animation: fadeInUp $duration ease-out;
  }

  @mixin fadeIn($duration: 1s, $ease: ease-in-out) {
    animation: fadeIn $duration $ease;
  }
  
  
  