@import "../base/variables" ;
@import "../base/mixins.scss";
/* Headings */
.home-title {
    font-size: 5rem;
    font-weight: 900;
    color: $text-color;
    text-shadow: 3px 3px 25px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    letter-spacing: 3px;
    @include fadeInDown(1s);
  }
  
  .home-subtitle {
    font-size: 1.8rem;
    color: lightened($text-color, 30%);
    letter-spacing: 1px;
    @include fadeInUp(1.2s);
  }
  