@use "../base/variables" as vars;

.margin-sm {
    margin: vars.$space-sm;
}

.margin-md {
    margin: vars.$space-md;
}

.margin-lg {
    margin: vars.$space-lg;
}

.padding-sm {
    padding: vars.$space-sm;
}

.padding-md {
    padding: vars.$space-md;
}

.padding-lg {
    padding: vars.$space-lg;
}
